<!DOCTYPE html>
<html>
    <head>
        <title>Cloud Drive DFR Prototype - Dashboard [Login]</title>
    </head>
    <body>
        <h1>Login to Proceed</h1>
        <form action="" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Submit">
        </form>
        {% if not error == None %}
        <h3>Error: {{ error }}</h3>
        {% endif %}
    </body>
</html>